<div>
  <h2>{{ 'TOP_TRACKS' | translate }}</h2>
  <h4 class="mt-5 mb20">{{ 'ACCORDING_TO' | translate }} <a href="http://www.last.fm/" rel="nofollow" target='_blank'>Last.fm</a>
  </h4>
  <table class="table table-big-font mb0">
    <thead>
    <tr>
      <th class="w5p fz16"><i class="fa fa-sort-numeric-asc"></i></th>
      <th class="w45p fz16">{{ 'ARTIST_SONG' | translate }}</th>
      <th class="w15p fz16"><a href="" ng-click="reverse=!reverse;order('listeners', reverse)">{{ 'LISTENERS' | translate }}</a></th>
      <th class="w15p fz16"><a href="" ng-click="reverse=!reverse;order('playcount', reverse)">{{ 'PLAYCOUNT' | translate }}</a></th>
      <th class="w10p fz16">{{ 'AUDIO' | translate }}</th>
      <th class="w10p fz16">{{ 'VIDEO' | translate }}</th>
    </tr>
    </thead>
  </table>
  <div ng-show="contentIsReady" class="unit fixed_height_td">
    <table class="table table-striped table-big-font table-mt0">
      <tbody>
      <tr ng-repeat="track in tracks">
        <td class="w5p">{{$index + 1}}</td>
        <td class="w45p">
          <a href="" ui-sref="bestSongs({artist: track.artist.name, limit: limit})" ng-click="bestSongsForArtist(track.artist.name)">{{track.artist.name}}</a> - 
          {{track.name}}
        </td>
        <td class="w15p">{{ track.listeners | number }}</td>
        <td class="w15p">{{ track.playcount | number }}</td>
        <td class="w10p">
          <a href="{{ media.vk(track.artist.name,track.name) }}" target='_blank' rel='nofollow'><img class="grayscale media_in_list" src="{{ mediaImg.vk_img }}" alt=""></a>
          <a class="ml6" href="{{ media.yandex(track.artist.name,track.name) }}" target='_blank' rel='nofollow'><img class="grayscale media_in_list" src="{{ mediaImg.yandex_img }}" alt=""></a>
        </td>
        <td class="w10p">
          <a class="ml6" href="{{ media.youtube(track.artist.name,track.name) }}" target='_blank' rel='nofollow'><img class="grayscale media_in_list" src="/images/youtube.png" alt=""></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


</div>
